@import 'src/variables.scss';

.tableContainer {
    overflow: auto;
}

.table {
    width: 100%;
    border-spacing: 0;
    min-width: 768px;

    tbody tr {
        transition: 0.3s;

        &:hover {
            background-color: rgb($green, 10%);
        }
    }
}

.headerCell {
    font-size: 12px;
    line-height: 15px;
    color: $text;
    font-weight: 400;
    text-align: left;

    span {
        font-size: 8px;
        line-height: 10px;
    }
}

.rowCell {
    border-bottom: 1px solid $darkGrey;
    padding: 15px 0 16px;
}
